<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sop.mpimedia.net.catalog">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="sop.mpimedia.net.id.sch.kafila.catalog.WelcomingScreenActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="sop.mpimedia.net.id.sch.kafila.catalog.HomeActivity" />
        <activity
            android:name="sop.mpimedia.net.id.sch.kafila.catalog.SOPActivity"
            android:label="@string/title_activity_sop"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>